@font-face {
    font-family: 'Gatefold';
    src: url('./assets/fonts/Gatefold-Demibold.woff2') format('woff2'),
        url('./assets/fonts/Gatefold-Demibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ambit';
    src: url('./assets/fonts/Ambit-Regular.woff2') format('woff2'),
        url('./assets/fonts/Ambit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ambit';
    src: url('./assets/fonts/Ambit-Bold.woff2') format('woff2'),
        url('./assets/fonts/Ambit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-green: #00211a;
    --secondary-button: #eee; 
    --text-color: #333;
    --background-color: #f8f8f8;
    --secondary-font: 'Ambit', sans-serif;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 48px;
}

#content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1 {
    font-family: 'Gatefold', sans-serif;
    color: var(--primary-green);
    margin: 0;
}

header {
    width: 100%;
}
nav{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center ;
}
.tab-btn {
    background-color: var(--secondary-button);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}

.tab-btn.active {
    background-color: var(--primary-green);
    color: white;
    font-weight: bold;
}
p {
    font-family: var(--secondary-font);
    margin: 0;
    max-width: 600px;
    text-align: center;
}

img {
    max-width: 600px;
    width: 90%;
    border-radius: 8px;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
    max-width: 900px;
    width: 100%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 8px;
    background-color: #FCF6DC;
    border-radius: 16px;
    padding: 16px;
}

.menu-item h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--primary-green);
    font-family: var(--secondary-font);
    font-weight: bold;
    height: 4rem;
}

.menu-item p {
    margin: 0;
    color: var(--text-color);
    font-size: 1rem;
    text-align: left;
    height: 4rem;
}

.price {
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--text-color);
    font-size: 1rem;
}

